.bg-light {
    font-family: 'Overpass', sans-serif;
}

* {
    margin: auto;
}
   

.jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    margin: 100px 50px;
}


body {
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.media {
    margin: 50px;
    padding: 10px;
    color: white
}

.card-deck {
    margin: 50px;
    
}
